.title {

    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    width: fit-content;     
}

h2, h5 {   
    padding: 2px;
    margin: auto;
    font-family: sans-serif;
}

h5 {
    color: rgb(82, 80, 80);
   
}

