body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background: #abcaab;
  
}

.col-md-8 {
    background: rgb(96, 136, 96);
}

.card-text {
    color: white;
}

.input-group {
    margin-bottom: 0px;
}

