/* .col-8 {
    background: yellow;
}

.col-4 {
    background: green;
} */

/* .radio-btns {
    display: flex;
    justify-content: left;
    text-align: center;
} */

body {
    background: pink
    ;
}